/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', sans-serif;
    background-color: #f9f9f9;
}

/* Cabecera */
header {
    background-color: #FFD700; /* Amarillo brillante */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 180px;
    object-fit: contain;
}

/* Menú hamburguesa */
.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguesa span {
    background-color: #000;
    height: 3px;
    width: 25px;
    border-radius: 2px;
}

/* Contenedor principal */
.main-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.registro-button {
    background-color: #FFD700;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.registro-button:hover {
    background-color: #e6c200;
}