/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', sans-serif;
    background-color: #f9f9f9;
}

/* Cabecera */
header {
    background-color: #FFD700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 180px;
    object-fit: contain;
}

/* Contenedor principal */
.main-container {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Lista de inmuebles */
.inmuebles-lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inmueble-boton {
    background-color: #D3D3F3;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.inmueble-boton:hover {
    background-color: #B0B0E5;
}