/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'ADLaM Display', sans-serif;
    background-color: #f9f9f9; /* Fondo claro */
}

/* Cabecera */
header {
    background-color: #FFD700; /* Amarillo brillante */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 180px; /* Ajustar el tamaño del logo */
    object-fit: contain;
}

.menu-hamburguesa {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-hamburguesa span {
    background-color: #000;
    height: 3px;
    width: 25px;
    border-radius: 2px;
}

/* Contenedor principal */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* Altura total menos la cabecera */
    background-color: #f9f9f9;
}

/* Formulario */
.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.recover-button {
    background-color: #6d6dff;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.recover-button:hover {
    background-color: #5a5aff;
}